body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    height: 100vh;
    width: 80%;
}

.wrapper {
    width: 100%;
    display: flex;
}

.title {
    padding: 12px 12px;
    font-size: 25px;
    color: rgba(0, 0, 0, .87);
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
}

.search-container {
    right: 0;
    width: 20%;
    height: 100vh;
    background-color: #fff;
}

.search {
    display: flex;

    padding-right: 20px;
    margin: 10px 10px;
    border-bottom: 1px solid rgba(0,0,0,.5);
}

.search i {
    margin-right: 16px;
    font-size: 25px;
    color: rgba(0,0,0,.5);

    display: flex;
    align-items: center
}

#zip-code {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    outline: none;
}

.stores-list-container {
    display: flex;
    height: 85vh;
    width: 100%;
}

.store-info-window {
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}

.store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, .87);
}

.store-info-open-status {
    margin-top: 6px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    color: rgba(0, 0, 0, .57);
}

.store-info-address, .store-info-phone {
    margin-top: 8px;
    color: #514C4C;

    display: flex;
    align-items: center;
}

.store-info-phone a, .store-info-address {
    text-decoration: none;
    color: #514C4C;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
}

.stores-list {
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.store-container {
    border-bottom: 1px solid #979797;

    display: flex;
}

.store-info-container {
    flex-grow: 1;
}

.store-address span {
    display: block;
}

.store-address {
    font-size: 21px;
    color: #514C4C;
    margin-top: 30px;
}

.store-phone-number {
    color: #B5ADAd;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number-container {
    display: flex;
    align-items: center;
}

.store-number {
    width: 30px;
    height: 30px;
    background-color: #454e53;
    border-radius: 50%;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.store-container-background{
    display: flex;
    flex-grow: 1;

    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 12px;

    transition: all 0.2 ease-in-out;
    cursor: pointer;
}

.store-container-background:hover {
    background-color: #cccccc87;
}