body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    height: 100vh;
}

.title {
    font-size: 88px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    color: aliceblue;

    position: absolute;
    z-index: 10;
    top: 100px;
    right: 100px;
}

.search-container {
    width: 400px;
    height: 60px;
    background-color: #fff;

    position: absolute;
    z-index: 10;
    right: 100px;
    top: 230px;
    border-radius: 30px;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search i {
    font-size: 25px;
}

#zip-code {
    flex-grow: 1;
    font-size: 25px;
    background-color: transparent;
    border: none;
    outline: none;
}

.stores-list-container {
    position: absolute;
    width: 400px;
    border-radius: 30px;
    background-color: whitesmoke;
    top: 320px;
    bottom: 30px;
    right: 100px;
    z-index: 10;
}

.store-info-window {
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}

.store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, .87);
}

.store-info-open-status {
    margin-top: 6px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    color: rgba(0, 0, 0, .57);
}

.store-info-address, .store-info-phone {
    margin-top: 8px;
    color: #514C4C;

    display: flex;
    align-items: center;
}

.store-info-phone a, .store-info-address {
    text-decoration: none;
    color: #514C4C;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

}